{% include "admin_header.html" %}
    
<center>
	
	<form method="post">
		
		<br>
		<br>
		<h1>View Orders</h1>
		<table class="table" style="width: 800px">
			<tr>
				<th>Sl No</th>
				<th>Product</th>
				<th>Quantity</th>
				<th>Amount</th>
				
			</tr>
			{% for row in data['order'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{row['f_name']}}</td>
				<td>{{row['qty']}}</td>
				<td>{{row['amount']}}</td>
			</tr>
			{% endfor %}
		</table>
	</form>
	
		
</center>
{%include "footer.html" %}